
CSharpReg/.idea/.idea.CSharpReg/.idea/discord.xml
CSharpReg/.idea/.idea.CSharpReg/.idea/encodings.xml
CSharpReg/.idea/.idea.CSharpReg/.idea/indexLayout.xml
CSharpReg/.idea/.idea.CSharpReg/.idea/vcs.xml
CSharpReg/obj/CSharpReg.csproj.nuget.dgspec.json
CSharpReg/obj/CSharpReg.csproj.nuget.g.props
CSharpReg/obj/CSharpReg.csproj.nuget.g.targets
CSharpReg/obj/Debug/netcoreapp3.1/CSharpReg.assets.cache
CSharpReg/obj/Debug/netcoreapp3.1/CSharpReg.assets.cache
CSharpReg/obj/CSharpReg.csproj.nuget.dgspec.json
CSharpReg/obj/CSharpReg.csproj.nuget.g.props
CSharpReg/obj/CSharpReg.csproj.nuget.g.targets
CSharpReg/obj/Debug/netcoreapp3.1/CSharpReg.assets.cache
CSharpReg/obj/project.assets.json
CSharpReg/obj/project.nuget.cache
CSharpReg/obj/rider.project.restore.info
CSharpReg/obj/project.packagespec.json
CSharpReg/obj/Debug/netcoreapp3.1/CSharpReg.GeneratedMSBuildEditorConfig.editorconfig
CSharpReg/obj/Debug/netcoreapp3.1/CSharpReg.csproj.AssemblyReference.cache
